body {
	padding: 0px;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: black;
}
nav {
	padding: 10px;
	background-color: green;
	color: white;
	text-align: center;
	margin-bottom: 20px;
}
.container {
	width: 80%;
	/* max-width: 1200px; */
	margin-left: auto;
	margin-right: auto;
}
.genreBtn {
	margin-top: 12px;
	padding: 8px;
	border-radius: 15px;
	border: none;
	background-color: #fff;
}
.allBtn {
	background-color: green;
	color: white;
}

/* Cards  */
.songCard {
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7348IChQ_7BJPolS3SyA_kT7nEJvuCa73WA&s);
	filter: brightness(50%);
	color: white;
	height: auto;
	margin-top: 15px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 12px;
	border: none;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.one {
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7348IChQ_7BJPolS3SyA_kT7nEJvuCa73WA&s);
	filter: brightness(50%);
}
/* .two {
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSOL3s9WXFy47F2-sujwyBkjuL5RjUFB7yeA&s);
	filter: brightness(50%);
}
.three {
	background-image: url(https://previews.123rf.com/images/violin/violin1106/violin110600004/9681613-gramophone-on-old-sheet-music-retro-art-background.jpg);
	filter: brightness(50%);
}
.four {
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVeh6LGFXDkBBkp0WBJZZ4pe8tKGTdBOU99Q&s);
	filter: brightness(50%);
}
.five {
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTh41cYgumRIjY9Hpa2dTmquRs6_EDkRo3HcA&s);
	filter: brightness(50%);
}
.six {
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-Apu1JPEhQk5HgxHA4jqlmFMVPVfl6ji1RQ&s);
	filter: brightness(50%);
}
.songInfo > * {
	margin: 0px;
	margin-bottom: 5px;
	padding: 0px;
}
.songInfo2 {
	display: flex;
	justify-content: space-between;
	padding-bottom: 2px;
} */

/* Media Queries  */
@media (max-width: 600px) {
	.cards {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.songCard {
		width: 100%;
		margin-left: 5px;
		margin-right: 5px;
	}
}
@media (max-width: 900px) and (min-width: 601px) {
	.cards {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}
	.songCard {
		width: 100%;
		margin-left: 5px;
		margin-right: 5px;
	}
}
@media (min-width: 901px) {
	.cards {
		display: flex;
		justify-content: space-between;
	}
	.songCard {
		width: 100%;
		margin-left: 5px;
		margin-right: 5px;
	}
}

.active {
	background-color: green;
	color: white;
}

.inactive {
	background-color: white;
	color: black;
}
